<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS - Book Update</title>
    <link rel="icon" href="/library img.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/updateBookStyle.css">
</head>
<body>
    
    <a href="/admin/books"><button id="backToDB">Back</button></a>
    <div class="mainBox">
        <h2>UPDATE BOOK DETAILS</h2>
        <form action="/admin/books/<%= book.id %>?_method=PATCH" method="post">
            <label for="book">Book name: </label>
            <input type="text" name="bookName" id="book" value="<%= book.book_name %>"><br><br>
    
            <label for="author">Author: </label>
            <input type="text" name="author" id="author" value="<%= book.author %>"><br><br>
    
            <label for="cat">Category: </label>
            <input type="text" name="category" id="cat" value="<%= book.category %>"><br><br>
            <button type="submit">Update book</button>
        </form>
    </div>
    <% if (error) { %>
        <div style="background-color: yellow;"><%= error %></div>
        <% } %>

</body>
</html>